.select {
  min-height: var(--text-input-height);
  border-radius: var(--text-input-border-radius);
  border: var(--text-input-border-size) solid var(--text-input-border-color);
  background-color: var(--text-input-background-color);
  color: var(--text-input-color);
  font-family: var(--select-font-family);
  font-size: var(--select-font-size);
  min-width: var(--select-min-width);
  width: var(--select-width);
  padding: var(--select-padding);
  line-height: var(--select-line-height);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.itemActive {
  width: var(--select-active-item-width);
}

.select:hover {
  border: var(--text-input-border-size) solid var(--text-input-border-color-hover);
}

.nativeSelect {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  outline: none;
  border: none;
  width: 0;
  height: 0;
}

.nativeSelect:hover {
  border: none;
}

.nativeSelectWrapper {
  position: relative;
  margin: var(--select-native-margin);
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nativeCustomSelect {
  appearance: none;
}

.nativeIcon {
  @mixin font-scale-4;
  position: absolute;
  right: var(--select-native-icon-right);
  top: var(--select-native-icon-top);
  height: var(--select-native-icon-height);
}

.active,
.nativeCustomSelect:focus {
  border: var(--text-input-border-size) solid var(--text-input-border-color-focus);
  outline: none;
}

.icon {
  transition: transform var(--select-icon-transition-seconds);
  position: absolute;
  right: var(--select-icon-right);
  top: var(--select-icon-top);
}

.active .icon {
  color: var(--text-input-border-color-focus);
}

.reverseIcon {
  transform: rotate(180deg);
}

.listIcon {
  margin: var(--select-list-icon-margin);
  top: 50%;
  transform: translate(-12px, -12px);
}

.input {
  min-width: var(--select-input-min-width);
  margin: var(--select-input-margin);
  height: var(--select-input-height);
  border: none;
  flex: 1;
}

.customPlaceholder{
  color: var(--text-input-placeholder-color);
}

.input:hover {
  border: none!important;
}

.tag {
  position: relative;
  margin: var(--select-tag-margin);
}

.contentWrapperSingle {
  height: var(--select-height);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
}

.contentWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.list {
  background-color: var(--neutral-white);
  margin: var(--select-list-margin);
  width: 100%;
}

.emptyState {
  @mixin font-scale-7;
  padding: var(--select-empty-state-padding);
  display: block;
  color: var(--text-input-placeholder-color);
}

.error {
  border-color: var(--error-color);

  &:hover {
    border-color: var(--error-color);
  }
}

.disabled {
  border-color: var(--select-border-disabled-color);
  background-color: var(--select-disabled-color);
  color: var(--select-text-disabled-color);
  cursor: default;

  &:hover {
    border-color: var(--select-border-disabled-color);
  }
}

.disabled .icon {
  cursor: default;
}
