.select {
  min-height: var(--text-input-height);
  border-radius: var(--text-input-border-radius);
  border: var(--text-input-border-size) solid var(--text-input-border-color);
  background-color: var(--neutral-white);
  color: var(--text-input-color);
  margin-top: var(--input-margin-top);
  font-family: var(--select-font-family);
  font-size: var(--select-font-size);
  min-width: 100px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 48px 0 16px;
  position: relative;
  flex-wrap: wrap;
}

.select:hover {
  border: var(--text-input-border-size) solid var(--text-input-border-color-hover);
}

.nativeSelect {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  outline: none;
  border: none;
  width: 0;
  height: 0;
}

.nativeSelect:hover {
  border: none;
}

.nativeSelectWrapper {
  position: relative;
}

.nativeCustomSelect {
  appearance: none;
}

.nativeIcon {
  @mixin font-scale-4;
  position: absolute;
  right: 16px;
  top: 14px;
}

.active,
.nativeCustomSelect:focus {
  border: var(--text-input-border-size) solid var(--text-input-border-color-focus);
  outline: none;
}

.icon {
  transition: transform 0.3s;
  position: absolute;
  right: 12px;
  top: 12px;
}

.active .icon {
  color: var(--text-input-border-color-focus);
}

.reverseIcon {
  transform: rotate(180deg);
}

.wrapper {
  position: relative;
  width: inherit;
}

.label {
  width: 100%;
}

.labelOpen {
  position: relative;
  z-index: 10;

  & .list {
    z-index: 4;
  }
}

.listIcon {
  margin-left: 8px;
}

.input {
  min-width: 80px;
  margin-top: 4px;
  height: 32px;
  border: none;
  flex: 1;
}

.input:hover {
  border: none!important;
}

.tag {
  position: relative;
  margin: 4px;
}

.contentWrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 4px -4px;
}

.contentWrapperSingle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.list {
  background-color: var(--neutral-white);
  position: absolute;
  width: 100%;

  &.selectListFullWidth {
    min-width: 100%;
    width: auto;
    white-space: nowrap;
  }
}

.emptyState {
  @mixin font-scale-7;
  padding: 16px;
  display: block;
  color: var(--text-input-placeholder-color);
}

.selectElem {
  width: 100%;
  & .contentWrapper {
    display: block;
    margin: 0;
    flex-wrap: nowrap;
    padding-right: 16px;
    text-align: left;
  }

  & .icon {
    color: inherit;
  }
}
