.colorScheme {
  width: 200px;
  height: 80px;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.textColor {
  font-size: 16px;
  margin: 16px 16px 0 16px;
}

.textType {
  font-size: 8px;
  margin: 0 16px 0 16px;
}

.secondaryColor {
  float: right;
}
