.checkbox {
  display: none;
}

.iconWrapper {
  width: var(--checkbox-width);
  height: var(--checkbox-height);
  border-radius: var(--checkbox-border-radius);
  border: solid 2px var(--checkbox-border-color);
  background-color: var(--checkbox-background-color);
  padding: var(--checkbox-padding);
  box-sizing: border-box;
  margin: var(--checkbox-icon-margin);
  vertical-align: middle;
  display: flex;
  justify-content: center;
}

.iconWrapper:hover {
  border-color: var(--checkbox-border-color-hover);
}

.checked {
  background-color: var(--checkbox-checked-background-color);
  color: var(--checkbox-checked-color);
  border: none;
  text-align: center;
}

.icon {
  display: none;
}

.checked > .icon {
  display: flex;
}

.disabled,
.disabled:hover {
  border-color: var(--text-disabled-color);
}

.checked.disabled {
  background-color: var(--text-disabled-color);
}

.label {
  color: var(--text-primary-color);
}

.disabledLabel {
  color: var(--text-disabled-color);
}
