.caption {
  @mixin font-scale-5;
  color: var(--date-picker-caption-color);
  text-align: center;
  font-weight: bold;
}

.captionWrapper {
  display: inline-block;
  cursor: pointer;
  padding: var(--date-picker-caption-wrapper-padding);
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: var(--date-picker-caption-wrapper-border-radius);
}

.captionWrapper:hover {
  border: 1px solid var(--primary-color-light);
}
