.caption {
  @mixin font-scale-5;
  color: var(--primary-color);
  text-align: center;
  font-weight: bold;
}

.captionWrapper {
  display: inline-block;
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;
}

.captionWrapper:hover {
  border: 1px solid var(--primary-color-light);
}
