.datePicker {
  border: 1px solid var(--date-picker-border-color);
  border-radius: var(--date-picker-border-radius);
  box-shadow: var(--box-shadow-100);
  background-color: var(--date-picker-background-color);
  width: var(--date-picker-width);
  padding: var(--date-picker-padding);
  font-family: inherit;
}

.dayPicker {
  width: var(--date-picker-day-picker-width);
}

.dayPickerWrapper {
  padding: var(--date-picker-day-picker-padding);
}

.dayPickerWrapper:focus {
  outline: none;
}

.dayPickerMonths {
  flex-wrap: nowrap;
}

.dayPickerMonth {
  width: var(--date-picker-month-width);
  margin: var(--date-picker-month-margin);
  display: flex;
  flex-flow: column nowrap;
  min-height: var(--date-picker-month-min-height);
}

.dayPickerWeekdays {
  border-bottom: 1px solid var(--date-picker-border-color);
  border-top: 1px solid var(--date-picker-border-color);
  margin: var(--date-picker-weekdays-margin);
}

.dayPickerWeekdaysRow {
  display: flex;
  justify-content: space-between;
  padding: var(--date-picker-weekdays-row-padding);
}

.dayPickerWeek {
  display: flex;
  padding: var(--date-picker-week-padding);
}

.dayPickerWeekday {
  @mixin font-scale-7;
  color: var(--date-picker-weekday-color);
  padding: var(--date-picker-weekday-padding);
  width: var(--date-picker-weekday-width);
  margin: var(--date-picker-weekday-margin);
  display: inline-block;
  text-align: center;
}

abbr {
  text-decoration: none;
}

.dayPickerDay {
  @mixin font-scale-6;
  color: var(--date-picker-day-color);
  text-align: center;
  width: var(--date-picker-day-width);
  border: 1px solid transparent;
  border-radius: var(--date-picker-day-border-radius);
  margin: var(--date-picker-day-margin);
  box-sizing: border-box;
  padding: var(--date-picker-day-padding);
}

.dayPickerDayOutside {
  color: var(--date-picker-outside-day-color);
}

.dayPickerSelectedDay {
  background-color: var(--primary-color);
  color: var(--date-picker-selected-color);
}

.dayPickerDay:not(.DayPicker-Day--disabled):hover {
  background-color: transparent !important;
  border: 1px solid var(--primary-color-light);
}

.dayPickerDay.dayPickerSelectedDay:hover {
  background-color: var(--primary-color) !important;
  color: var(--date-picker-selected-color);
  border: 1px solid transparent;
}

.dayPickerDay:focus {
  outline: none;
}
