.dialog {
  width: calc(100% - var(--dialog-padding-left) - var(--dialog-padding-right));
  max-height: calc(100% - 32px);
  position: fixed;
  z-index: var(--dialog-z-index);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
}

.container {
  background: var(--dialog-body-background);
  border-radius: var(--dialog-border-radius);
  width: var(--dialog-width);
  flex-direction: column;
  position: relative;
  padding-top: 16px;
  display: flex;
  overflow-y: auto;
  flex: 1 1 auto;
  max-width: 100%;
}

.header {
  padding: 0 48px 0 24px;
  line-height: 36px;
  flex: 0 0 auto;
}

.title {
  color: var(--dialog-title-color);
  margin: 0;
  font-weight: normal;
}

.closeBtn {
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
}

.content {
  padding: var(--dialog-content-padding);
  margin: var(--dialog-content-margin);
  flex: 1 1 auto;
  overflow-y: auto;
}

.body {
  position: relative;
}

.actions {
  background: var(--dialog-actions-background);
  height: 48px;
  padding: 24px;
  text-align: right;
  line-height: 48px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.actions button {
  margin: 0 0 0 16px;
  min-width: 147px;
}
