.dialog {
  width: var(--dialog-width);
  max-height: var(--dialog-max-height);
  position: fixed;
  z-index: var(--dialog-z-index);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: var(--dialog-flex);
}

.container {
  background: var(--dialog-body-background);
  border-radius: var(--dialog-border-radius);
  width: var(--dialog-container-width);
  flex-direction: column;
  position: relative;
  padding: var(--dialog-container-padding);
  display: flex;
  overflow-y: auto;
  flex: var(--dialog-container-flex);
  max-width: var(--dialog-container-max-width);
}

.header {
  padding: var(--dialog-header-padding);
  line-height: var(--dialog-header-line-height);
  flex: var(--dialog-header-flex);
}

.title {
  color: var(--dialog-title-color);
  margin: var(--dialog-title-margin);
  font-weight: normal;
}

.closeBtn {
  position: absolute;
  right: var(--dialog-close-btn-right);
  top: var(--dialog-close-btn-top);
  cursor: pointer;
}

.content {
  padding: var(--dialog-content-padding);
  margin: var(--dialog-content-margin);
  flex: var(--dialog-content-flex);
  overflow-y: auto;
}

.body {
  position: relative;
}

.actions {
  background: var(--dialog-actions-background);
  height: var(--dialog-actions-height);
  padding: var(--dialog-actions-padding);
  text-align: var(--dialog-actions-text-align);
  line-height: var(--dialog-actions-line-height);
  flex: var(--dialog-actions-flex);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.actions button {
  margin: var(--dialog-actions-button-margin);
  min-width: var(--dialog-actions-button-min-width);
}
