.tag {
  @mixin font-scale-7;
  height: var(--tag-height);
  border-radius: var(--tag-border-radius);
  padding: var(--tag-padding);
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

.text {
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.primary {
  background-color: var(--tag-primary-color);
  border: 1px solid var(--tag-primary-color);
  color: var(--tag-secondary-color);
}

.secondary {
  background-color: var(--tag-secondary-color);
  border: 1px solid var(--tag-primary-color);
  color: var(--tag-primary-color);
}

.closeIcon {
  margin: var(--tag-close-icon-margin);
  cursor: pointer;
}
