.control {
    @mixin font-scale-6;
    transition: left var(--slider-animation-duration) ease-out;
    color: var(--slider-control-color);
    top: var(--slider-control-top);
    position: absolute;
    cursor: pointer;
    z-index: 1;
}
