.notification-list {
  position: fixed;
  top: var(--notification-list-top);
  right: var(--notification-list-right);
  z-index: var(--notification-list-z-index);
}

.notificationItem {
  position: relative;
}
