.dropDownListItem {
  display: block;
  min-height: var(--drop-down-list-item-min-height);
  color: var(--drop-down-list-item-color);

  & > * {
    display: block;
    width: var(--drop-down-list-item-width);
    height: var(--drop-down-list-item-height);
    padding: var(--drop-down-list-item-padding);
    box-sizing: border-box;
    cursor: pointer;
  }

  &:hover {
    background-color: var(--drop-down-list-item-hover-color);
  }
}
