.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper > *:not(:last-child) {
  margin: var(--controls-group-margin);
}

.title {
  @mixin font-scale-5;
  color: var(--text-default-color);
  padding: var(--controls-group-title-padding);
  margin: var(--controls-group-title-margin);
}
