.tooltip {
  background: var(--neutral-white);
  box-shadow: var(--box-shadow-100);
  border: 1px solid var(--tooltip-border-color);
  padding: 16px;
  border-radius: 5px;
  max-width: 320px;
}

.description {
  @mixin font-scale-7;
  color: var(--text-default-color);
}

.title {
  @mixin font-scale-6;
  font-weight: bold;
  color: var(--primary-color);
  padding-bottom: 16px;
}
