.tooltip {
  background: var(--neutral-white);
  box-shadow: var(--box-shadow-100);
  border: 1px solid var(--tooltip-border-color);
  padding: var(--tooltip-padding);
  border-radius: var(--tooltip-border-radius);
  max-width: var(--tooltip-max-width);
}

.description {
  @mixin font-scale-7;
  color: var(--text-default-color);
  white-space: initial;
}

.title {
  @mixin font-scale-6;
  font-weight: bold;
  color: var(--primary-color);
  padding-bottom: var(--tooltip-title-padding);
}
