.rangeDatePicker {
  border: 1px solid var(--date-picker-border-color);
  box-shadow: var(--box-shadow-100);
  background-color: var(--date-picker-background-color);
  width: 728px;
  padding-top: 16px;
  position: relative;
  font-family: inherit;
  box-sizing: border-box;
}

.disabled {
  height: 385px;
}

.dayPicker {
  width: 100%;
}

.disabled .dayPicker,
.DayPicker-Day .disabled {
  opacity: 0.4;
  pointer-events: none;
}

.dayPickerWrapper {
  padding-bottom: 15px;
}

.dayPickerWrapper:focus {
  outline: none;
}

.dayPickerMonths {
  display: flex;
  flex-wrap: nowrap;
}

.dayPickerMonth {
  width: 100%;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  min-height: var(--date-picker-month-min-height);
}

.dayPickerWeekdays {
  border-bottom: var(--date-picker-border);
  border-top: var(--date-picker-border);
  margin-top: 16px;
  margin-bottom: 7px;
}

.dayPickerWeekdaysRow {
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
}

.dayPickerWeek {
  display: flex;
  padding: 0 7px;
}

.dayPickerWeekday {
  @mixin font-scale-7;
  color: var(--date-picker-weekday-color);
  padding: 11px 0;
  width: 48px;
  margin: 0 1px;
  display: inline-block;
  text-align: center;
}

abbr {
  text-decoration: none;
}

.dayPickerDay {
  @mixin font-scale-6;
  color: var(--date-picker-day-color);
  width: 48px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 1px;
  box-sizing: border-box;
  padding: 12px 0;
  cursor: pointer;
}

.dayPickerDayOutside {
  color: var(--date-picker-outside-day-color);
  cursor: default;
}

.dayPickerSelectedDay:not(.dayPickerDayOutside) {
  background-color: var(--primary-color);
  color: var(--date-picker-selected-color);
}

.dayPickerDay:not(.DayPicker-Day--disabled):not(.dayPickerDayOutside):hover {
  background-color: var(--date-picker-hover-background-color) !important;
  border: var(--date-picker-hover-border);
}

.dayPickerDay.dayPickerSelectedDay:not(.dayPickerDayOutside):hover {
  background-color: var(--date-picker-selected-background-color-hover) !important;
  color: var(--date-picker-selected-color);
  border: 1px solid transparent;
}

.dayPickerDayStart {}

.dayPickerDayEnd {}

.dayPickerDay.dayPickerSelectedDay:not(.dayPickerDayStart):not(.dayPickerDayEnd):not(.dayPickerDayOutside) {
  background-color: var(--date-picker-included-background-color) !important;
  border: var(--date-picker-included-border);
  color: var(--date-picker-included-color);
  border-radius: 0 !important;
}

.dayPickerToday {
  background-color: var(--date-picker-today-background-color);
  border: var(--date-picker-today-border);
}

.dayPickerDay:focus {
  outline: none;
}

.picker {
  position: absolute;
  top: 16px;
}

.picker.from {
  left: 0;
}

.picker.to {
  right: 0;
}
