.rangeDatePicker {
  border: 1px solid var(--date-picker-border-color);
  box-shadow: var(--box-shadow-100);
  background-color: var(--date-picker-background-color);
  width: 728px;
  padding-top: 16px;
  position: relative;
  font-family: inherit;
}

.disabled {
  height: 380px;
}

.dayPicker {
  width: 100%;
}

.disabled .dayPicker {
  opacity: 0.4;
  pointer-events: none;
}

.dayPickerWrapper {
  padding-bottom: 15px;
}

.dayPickerWrapper:focus {
  outline: none;
}

.dayPickerMonths {
  display: flex;
  flex-wrap: nowrap;
}

.dayPickerMonth {
  width: 100%;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
}

.dayPickerWeekdays {
  border-bottom: 1px solid var(--date-picker-border-color);
  border-top: 1px solid var(--date-picker-border-color);
  margin-top: 16px;
  margin-bottom: 7px;
}

.dayPickerWeekdaysRow {
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
}

.dayPickerWeek {
  display: flex;
  padding: 0 7px;
}

.dayPickerWeekday {
  @mixin font-scale-7;
  color: var(--date-picker-weekday-color);
  padding: 11px 0;
  width: 48px;
  margin: 0 1px;
  display: inline-block;
  text-align: center;
}

abbr {
  text-decoration: none;
}

.dayPickerDay {
  @mixin font-scale-6;
  color: var(--date-picker-day-color);
  width: 48px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 1px;
  box-sizing: border-box;
  padding: 12px 0;
}

.dayPickerDayOutside {
  color: var(--date-picker-outside-day-color);
}

.dayPickerSelectedDay {
  background-color: var(--primary-color);
  color: var(--date-picker-selected-color);
}

.dayPickerDay:not(.DayPicker-Day--disabled):hover {
  background-color: transparent !important;
  border: 1px solid var(--primary-color-light);
}

.dayPickerDay.dayPickerSelectedDay:hover {
  background-color: var(--primary-color) !important;
  color: var(--date-picker-selected-color);
  border: 1px solid transparent;
}

.dayPickerDay:focus {
  outline: none;
}

.picker {
  position: absolute;
  top: 16px;
}

.picker.from {
  left: 0;
}

.picker.to {
  right: 0;
}
