.label {
  color: var(--label-color);
  font-family: var(--label-font-family);
  font-size: var(--label-font-size);
  display: flex;
  flex-flow: column nowrap;
  cursor: pointer;
}

.labelText {
  margin-bottom: 8px;
}