.picker {
  position: relative;
}

.pickerContainer {
  width: 100%;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
}

.pickerBody {
  border-top: 1px solid var(--date-picker-border-color);
  margin-top: 16px;
  padding: 7px;
  display: flex;
  flex-flow: row wrap;
}
