.drawerWrapper {
  z-index: var(--drawer-zindex);
  height: var(--drawer-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.drawer {
  background-color: var(--drawer-content-bg-color);
  width: var(--drawer-width);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay {
  background-color: var(--drawer-overlay-bg-color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.visible {
    animation: drawer-overlay-animation both;
  }
  &.hidden {
    animation: drawer-overlay-animation-reverse;
  }
}

.right {
  right: 0;
  left: auto;

  &.visible {
    animation: drawer-animation-right;
  }

  &.hidden {
    animation: drawer-reverse-animation-right both;
  }
}

.left {
  left: 0;
  right: auto;

  &.visible {
    animation: drawer-animation-left both;
  }

  &.hidden {
    animation: drawer-reverse-animation-left;
  }
}

@keyframes drawer-animation-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes drawer-animation-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes drawer-reverse-animation-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes drawer-reverse-animation-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes drawer-overlay-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: var(--drawer-overlay-opacity);
  }
}

@keyframes drawer-overlay-animation-reverse {
  0% {
    opacity: var(--drawer-overlay-opacity);
  }
  100% {
    opacity: 0;
  }
}
