.listItem {
  min-height: var(--list-item-min-height);
  color: var(--text-input-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  max-height: 100%;
}

.active,
.clickable:hover {
  background-color: var(--neutral-75);
}
