.listItem {
  min-height: var(--list-item-min-height);
  color: var(--list-item-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--list-item-padding);
  max-height: var(--list-item-max-height);
  width: var(--list-item-width);
}

.active,
.clickable:hover {
  background-color: var(--neutral-75);
}

.leftSpace {
  padding-left: var(--list-item-left-padding);
}

.rightSpace {
  padding-right: var(--list-item-right-padding);
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
}
