.notification {
  border-radius: var(--notification-border-radius);
  border-width: 1px;
  border-style: solid;
  position: relative;
  z-index: auto;
  display: flex;
}

.closeBtn {
  align-self: flex-start;
  cursor: pointer;
}

.content {
  flex: 1 auto;
  width: 100%;
}

.withoutTitle .message {
  display: flex;
  align-items: center;
}

.title {
  color: var(--notification-title-color);
  @mixin font-scale-7;
  display: block;
  padding: var(--notification-title-padding);
}

.message {
  @mixin font-scale-6;
}

.icon {
  display: flex;
  align-items: center;
}

.action {

}

.notification-message {
  &.theme-default {
    border-color: var(--notification-border-default-color);
    border-left-width: var(--notification-message-border-left-width);
    padding: var(--notification-message-padding);
    background: var(--notification-message-background);
    box-shadow: var(--box-shadow-300);

    & .icon {
      padding: var(--notification-message-icon-padding);
    }

    &.information {
      border-left-color: var(--notification-information-color);

      & .icon {
        color: var(--notification-information-color);
      }
    }

    &.success {
      border-left-color: var(--notification-success-color);

      & .icon {
        color: var(--notification-success-color);
      }
    }

    &.warning {
      border-left-color: var(--notification-warning-color);

      & .icon {
        color: var(--notification-warning-color);
      }
    }

    &.error {
      border-left-color: var(--notification-error-color);

      & .icon {
        color: var(--notification-error-color);
      }
    }
  }
}

.notification-alert .action {
  display: flex;
  align-items: center;
}

.notification-alert {
  border-color: var(--notification-border-default-color);
  padding: var(--notification-alert-padding);
  box-sizing: border-box;
  width: var(--notification-alert-width);
  background: var(--notification-alert-background);
  min-height: var(--notification-alert-min-height);

  & .title {
    display: none;
  }

  & .icon {
    padding: var(--notification-alert-icon-padding);
  }

  &.information {
    border-color: var(--notification-information-color);
    background: var(--notification-information-color);
    color: var(--notification-light-text-color);
  }

  &.success {
    border-color: var(--notification-success-color);
    background: var(--notification-success-color);
    color: var(--notification-light-text-color);
  }

  &.warning {
    border-color: var(--notification-warning-color);
    background: var(--notification-warning-color);
    color: var(--notification-default-text-color);
  }

  &.error {
    border-color: var(--notification-error-color);
    background: var(--notification-error-color);
    color: var(--notification-light-text-color);
  }

  &.theme-light {
    &.information {
      background: var(--notification-information-light-background);
      color: var(--notification-default-text-color);
    }

    &.information .icon,
    &.information .action {
       color: var(--notification-information-color);
    }

    &.success {
      background: var(--notification-success-light-background);
      color: var(--notification-success-color);
    }

    &.warning {
      background: var(--notification-warning-light-background);
      color: var(--notification-default-text-color);
    }

    &.warning .icon,
    &.warning .action {
       color: var(--notification-warning-color);
    }

    &.error {
      background: var(--notification-error-light-background);
      color: var(--notification-error-color);
    }
  }
}
