.icon {
  @mixin font-scale-6;
  box-sizing: border-box;
  color: inherit;
  display: inline-block;
  fill: currentColor;
  flex-shrink: 0;
  height: 1em;
  width: 1em;
  margin: 0;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}

.iconWrapper {
  display: flex;
  align-items: center;
}
