.main {
  position: relative;
}

.hidden {
  overflow: hidden;
  width: var(--horizontall-scroll-wrapper-width);
}

.wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  height: var(--horizontall-scroll-wrapper-height);
  -webkit-overflow-scrolling: touch;
  padding: var(--horizontall-scroll-wrapper-padding);
}

.icon {
  z-index: var(--horizontall-scroll-wrapper-arrow-z-index);
  position: absolute;
  width: var(--horizontall-scroll-wrapper-arrow-width);
  height: var(--horizontall-scroll-wrapper-arrow-height);
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.3), var(--horizontall-scroll-wrapper-gradient-color));
  color: var(--horizontall-scroll-wrapper-arrow-color);
  display: flex;
  justify-content: center;
  cursor: pointer;

  & > * {
    visibility: hidden;
  }

  @media (--small) {
    width: var(--horizontall-scroll-wrapper-small-arrow-width);

    & > * {
      visibility: visible;
    }
  }
}

.reverseIcon {
  transform: rotate(180deg);
  right: 0;
  top: 0;
}

.endIcon {
  z-index: var(--horizontall-scroll-wrapper-arrow-z-index);
  position: absolute;
  width: var(--horizontall-scroll-wrapper-arrow-width);
  height: var(--horizontall-scroll-wrapper-arrow-height);
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.3), var(--horizontall-scroll-wrapper-gradient-color));
  color: var(--horizontall-scroll-wrapper-arrow-color);
  display: flex;
  justify-content: center;
  cursor: pointer;
  right: 0;
  top: 0;
}
