.table {
  border-radius: var(--table-border-radius);
  box-shadow: var(--box-shadow-10);
  display: flex;
  flex-flow: column nowrap;
}

.fullWidth {
  width: 100%;
}

.tableHead {
  background-color: var(--table-head-background-color);
}

.tableBody {
  background-color: var(--table-body-background-color);
}

.tableRow {
  height: var(--table-column-height);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.tableRowExpanded {
  height: auto;
  transition: height 0.25s ease-in;
  overflow: visible;
}

.tableRowWrapper {
  position: relative;
}

.tableRowOverlay {
  height: var(--table-column-height);
  background-color: var(--table-row-background-color);
  position: absolute;
  width: 100%;
  z-index: 1;
}

.tableBody .tableRowWrapper:nth-child(2n+1) .tableRowOverlay {
  background-color: var(--table-row-odd-background-color);
}

.tableBody .tableRowWrapperHover:hover .tableRowOverlay {
  background-color: var(--table-row-hover-color) !important;
}

.tableRowContent {
  display: flex;
}

.iconContainer {
  padding: var(--table-row-icon-container-padding);
  width: var(--table-row-icon-container-width);
  z-index: 3;
}

.tableRowIcon {
  color: var(--table-row-icon-color);
  background-color: var(--table-row-icon-background-color);
  border-radius: var(--table-row-icon-border-radius);
  transform: translateX(var(--table-row-icon-translateX));
  width: var(--table-row-icon-width);
  height: var(--table-row-icon-height);
  justify-content: center;
  cursor: pointer;
}

.tableRowExpendedIcon {
  background-color: var(--table-row-expanded-icon-background-color);
}

.tableColumn {
  @mixin font-scale-6;
  color: var(--table-column-color);
  height: var(--table-column-height);
  display: flex;
  align-items: center;
  z-index: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableHeadColumn,
.tableHeadColumnForInvisibleColumn {
  color: var(--table-header-column-color);
  font-weight: bold;
}

.tableHeadColumn.invisibleColumn {
  display: none;
}

.tableSortableColumn {
  cursor: pointer;
}

.invisibleColumn {
  border-bottom: 1px solid var(--table-column-border-color);
  justify-content: space-between;
  height: auto;
  min-height: 56px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.invisibleColumnChildren, .tableHeadColumnForInvisibleColumn {
  flex: 0 0 50%;
}

.invisibleColumnChildren {
  text-align: right;
}

.limitedInvisibleColumn {
  word-break: break-all;
  white-space: normal;
}

.sortIcon {
  margin-right: 8px;
  transition: transform 0.4s;
}

.sortReverseIcon {
  transform: rotate(180deg);
}

.tableCaption {
  @mixin font-scale-5;
  color: var(--table-caption-color);
  background-color: var(--table-caption-background-color);
  border-top-right-radius: var(--table-border-radius);
  border-top-left-radius: var(--table-border-radius);
  padding: 16px 16px 16px 24px;
  display: flex;
  justify-content: space-between;
}

.tableCaptionIcon {
  color: var(--table-caption-icon-color);
  margin-left: 16px;
}

.tableFooter {
  background-color: var(--table-footer-background-color);
  border-top: var(--table-footer-border);
  border-bottom-right-radius: var(--table-border-radius);
  border-bottom-left-radius: var(--table-border-radius);
  padding: var(--table-footer-padding);
  position: relative;
}

.tablePaginationInfo {
  @mixin font-scale-6;
  color: var(--table-pagination-info-color);
}

.tablePagination {
  border: 1px solid var(--table-pagination-border-color);
  border-radius: var(--table-pagination-border-radius);
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
}

.paginationItem {
  border-right: 1px solid var(--table-pagination-border-color);
  background-color: var(--table-pagination-background-color);
  padding: 8px;
  cursor: pointer;
  min-width: 16px;
  min-height: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.paginationItem:last-child {
  border-right: none;
  border-top-right-radius: var(--table-pagination-border-radius);
  border-bottom-right-radius: var(--table-pagination-border-radius);
}

.paginationItem:first-child {
  border-top-left-radius: var(--table-pagination-border-radius);
  border-bottom-left-radius: var(--table-pagination-border-radius);
}

.paginationItemSelected {
  font-weight: bold;
  color: var(--table-pagination-selected-color);
}

.paginationItemClickable {
  cursor: pointer;
}

.paginationSelect {
  margin-top: 0;
  min-width: 100px;
}

.ellipsisColumn,
.ellipsisColumn > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
