.textarea {
  @mixin font-scale-6;
  border-radius: var(--text-input-border-radius);
  border: var(--text-input-border-size) solid var(--text-input-border-color);
  background-color: var(--neutral-white);
  color: var(--text-input-color);
  padding: var(--textarea-padding);
  box-sizing: border-box;
  margin-top: var(--input-margin-top);
}

.textarea:focus {
  border-color: var(--text-input-border-color-focus);
  outline: none;
}

.textarea:placeholder {
  color: var(--text-input-placeholder-color);
}

.textarea:hover {
  border: var(--text-input-border-size) solid var(--text-input-border-color-hover);
}

.disabled {
  border: var(--text-input-border-size) solid var(--text-input-disabled-color);
  background: var(--text-input-disabled-color);
  color: var(--text-input-text-disabled-color);
}

.disabled:hover {
  border: var(--text-input-border-size) solid var(--text-input-disabled-color);
}

.successWrapper {
  border: var(--text-input-border-size) solid var(--success-color);
}

.errorWrapper,
.errorWrapper:focus,
.errorWrapper:hover {
  border: var(--text-input-border-size) solid var(--error-color);
}

.error {
  @mixin font-scale-7;
  color: var(--error-color);
  margin-top: 8px;
}
