.dateRangeInputWrapper {
  display: flex;
}

.seperator {
  margin: var(--date-picker-range-separator-margin);
}

.dateRangeInput input {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

.disabled {
  cursor: default;
}
