.button {
  height: var(--button-height);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  font-family: var(--button-font-family);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button.warning {
  background-color: var(--error-color);
  border: 1px solid var(--error-color);
  color: var(--text-secondary-color);
}

.button.warning:hover {
  background-color: var(--error-color-dark);
  border: 1px solid var(--error-color-dark);
}

.link {
  height: var(--button-height);
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  font-family: var(--button-font-family);
  background-color: transparent;
  border: none !important;
  display: inline-flex;
  align-items: center;
}

.link.warning {
  color: var(--text-warning-color);
}

.link.warning:hover {
  color: var(--text-warning-color-dark);
}

.circle {
  height: var(--button-height);
  width: var(--button-height);
  border-radius: var(--button-border-radius);
  padding: var(--button-circle-padding);
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.circle.warning {
  background-color: var(--error-color);
  border: 1px solid var(--error-color);
  color: var(--text-secondary-color);
}

.circle.warning:hover {
  background-color: var(--error-color-dark);
  border: 1px solid var(--error-color-dark);
}

.primary {
  background-color: var(--button-primary-background-color);
  border: 1px solid var(--button-primary-border-color);
  color: var(--button-primary-text-color);
}

.primary:hover {
  background-color: var(--button-primary-background-color-hover);
  border: 1px solid var(--button-primary-border-color-hover);
  color: var(--button-primary-text-color-hover)
}

.secondary {
  background-color: var(--button-secondary-background-color);
  border: 1px solid var(--button-secondary-border-color);
  color: var(--button-secondary-text-color);
}

.secondary:hover {
  background-color: var(--button-secondary-background-color-hover);
  border: 1px solid var(--button-secondary-border-color-hover);
  color: var(--button-secondary-text-color-hover);
}

.neutral {
  background-color: var(--button-neutral-background-color);
  border: 1px solid var(--button-neutral-border-color);
  color: var(--button-neutral-text-color);
}

.neutral:hover {
  background-color: var(--button-neutral-background-color-hover);
  border: 1px solid var(--button-neutral-border-color-hover);
}

.disabled {
  background-color: var(--button-disabled-color);
  border: 1px solid var(--button-disabled-color);
  color: var(--text-disabled-color);

  & > * {
    pointer-events: none;
  }
}

.disabled:hover {
  background-color: var(--button-disabled-color);
  border: 1px solid var(--button-disabled-color);
  color: var(--text-disabled-color);
  cursor: auto;
}

.disabled.secondary {
  background-color: var(--button-secondary-background-color);
  border: 1px solid var(--text-disabled-color);
  color: var(--text-disabled-color);
  cursor: auto;
}

.disabled.link {
  background-color: transparent;
  color: var(--text-disabled-color);
  cursor: auto;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
