@define-mixin grid-container $size, $padding: 0 {
  max-width: $size;
}

@define-mixin grid-column $size, $offset: 0, $padding: 8px {
  width: calc(($size + $offset) * 100%);
  padding-left: calc($offset * 100% + $padding);
  padding-right: $padding;
  padding-top: $padding;
  padding-bottom: $padding;
  float: left;
  box-sizing: border-box;
}
