.yearPickerYear {
  color: var(--date-picker-month-color);
  background-color: transparent;
  border: 1px solid transparent;
  height: 100px;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 1px;
  flex: 0 0 calc(25% - 2px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.yearPickerYear:hover {
  border: 1px solid var(--primary-color-light);
}

.yearPickerYear.active {
  @mixin font-scale-5;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--date-picker-selected-color);
}
