.inputWrapper {
  height: var(--text-input-height);
  border-radius: var(--text-input-border-radius);
  border: var(--text-input-border-size) solid var(--text-input-border-color);
  background-color: var(--text-input-background-color);
  padding: var(--text-input-padding);
  margin-top: var(--input-margin-top);
  display: flex;
  align-items: center;
  min-width: 200px;
  box-sizing: border-box;
  position: relative;
}

.inputWrapper:not(.disabled):not(.errorWrapper):not(.successWrapper):hover {
  border: var(--text-input-border-size) solid var(--text-input-border-color-hover);
}

.disabled {
  border: var(--text-input-border-size) solid var(--text-input-disabled-color);
  background: var(--text-input-disabled-color);
  color: var(--text-input-text-disabled-color);
}

.disabled .input {
  background: var(--text-input-disabled-color);
  color: var(--text-input-text-disabled-color);
}

.inputWrapper:focus-within {
  outline: none;
  border-color: var(--text-input-border-color-focus);
  transition: all .5s ease-out;
}

.inputBlock {
  height: 100%;
}

.input {
  background-color: transparent;
  color: var(--text-input-color);
  font-size: var(--text-input-font-size);
  font-family: var(--base-font-family);
  font-weight: var(--text-input-font-weight);
  border-radius: var(--text-input-border-radius);
  letter-spacing: normal;
  line-height: 1.5em;
  height: 100%;
  width: 100%;
  border: none;
  box-sizing: border-box;
  min-width: 0;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-input-placeholder-color);
}

.prefix {
  font-size: var(--text-input-font-size);
  font-family: var(--base-font-family);
  font-weight: var(--text-input-font-weight);
  color: var(--text-input-prefix-color);
  padding-right: 8px;
}

.prefix+.input {
  padding-left: 0;
}

.icon {
  color: var(--primary-color);
  padding-left: 16px;
}

.successWrapper,
.successWrapper.inputWrapper:focus-within {
  border: var(--text-input-border-size) solid var(--success-color);
}

.successWrapper .icon {
  color: var(--success-color);
}

.errorWrapper,
.errorWrapper.inputWrapper:focus-within {
  border: var(--text-input-border-size) solid var(--error-color);
}

.errorWrapper .icon {
  color: var(--error-color);
}