.tab {
  @mixin font-scale-6;
  padding: var(--tab-padding);
  text-align: center;
  cursor: pointer;
  min-width: var(--tab-min-width);

  @media (--small) {
    padding: var(--tab-small-padding);
    min-width: var(--tab-small-min-width);
  }
}

.active {
  border-bottom: var(--tab-active-border-width) solid var(--tab-active-color);
  color: var(--tab-active-color);
}

.disabled {
  cursor: default;
  color: var(--disabled-color);
}
