:root {
    --neutral-white: #FFFFFF;
    --neutral-75: #F1F1F1;
    --neutral-100: #E5E5E5;
    --neutral-200: #CCCCCC;
    --neutral-500: #999999;
    --neutral-800: #333333;
    --neutral-900: #1D1D1D;
    --neutral-1000: #000000;

    --red-50: #FFEEEE;
    --red-75: #FFCCCC;
    --red-100: #FF8585;
    --red-300: #FF5252;
    --red-400: #CC4141;
    --red-500: #8F2D2D;

    --green-50: #DFFBF3;
    --green-75: #7FF0D0;
    --green-100: #00E1A1;
    --green-300: #00A677;
    --green-400: #006649;
    --green-500: #003928;

    --yellow-50: #FFF2D7;
    --yellow-75: #FFDD99;
    --yellow-100: #FFC34D;
    --yellow-300: #F8A90C;
    --yellow-400: #CA8700;
    --yellow-500: #9B6800;

    --blue-50: #F2F1FB;
    --blue-75: #AEAAE9;
    --blue-100: #6F68D7;
    --blue-300: #3228C6;
    --blue-400: #080081;
    --blue-500: #040044;

    --neutral-1000-opacity-15: rgba(0, 0, 0, 0.15);
    --neutral-1000-opacity-50: rgba(0, 0, 0, .5);
    --neutral-1000-opacity-30: rgba(0, 0, 0, 0.3);
}
