:root {
  --primary-color: #6400dc;
  --primary-light-color: #a266ea;
  --default-color: #e5e5e5;
  --disabled-color: #f1f1f1;
  --white-color: #ffffff;
  --text-default-color: #1d1d1d;
  --text-disabled-color: #cccccc;
  --success-color: #32c86d;
  --error-color: #ff5252;

  --base-font-weight: normal;
  --base-font-family: Montserratarm;

  --base-font-size: 1em;

  --small-font-size: 14px;
  --medium-font-size: 16px;


  --checkbox-background-color: var(--white-color);
  --checkbox-border-color: var(--text-disabled-color);
  --checkbox-hover-border-color: var(--primary-light-color);
  --checkbox-checked-background-color: var(--primary-color);
  --checkbox-color: var(--white-color);
  --checkbox-disabled-border-color: var(--default-color);
  --checkbox-border-radius: 4px;
  --checkbox-width: 24px;
  --checkbox-height: 24px;

  --label-color: var(--primary-color);
  --label-font-size: var(--base-font-size);
  --label-font-family: var(--base-font-family);
}