:root {
  --primary-color: var(--violet-300);
  --primary-color-light: var(--violet-100);
  --primary-color-dark: var(--violet-400);

  --secondary-color: var(--neutral-white);

  --default-color: var(--neutral-100);
  --default-color-dark: var(--neutral-200);

  --disabled-color: var(--neutral-100);
  --disabled-color-light: var(--neutral-75);
  --disabled-color-dark: var(--neutral-200);

  --success-color: var(--green-300);
  --warning-color: var(--yellow-300);
  --error-color: var(--red-300);
  --error-color-dark: var(--red-400);

  --text-default-color: var(--neutral-900);
  --text-primary-color: var(--primary-color);
  --text-primary-color-dark: var(--primary-color-dark);
  --text-secondary-color:  var(--secondary-color);

  --text-disabled-color: var(--disabled-color);
  --text-disabled-color-dark: var(--disabled-color-dark);

  --text-warning-color: var(--error-color);
  --text-warning-color-dark: var(--error-color-dark);

  --input-margin-top: 8px;

  --base-font-weight: normal;
  --base-font-family: Montserratarm;
  --base-font-size: 1em;
  --small-font-size: 14px;
  --medium-font-size: 16px;

  --checkbox-background-color: var(--secondary-color);
  --checkbox-border-color: var(--text-disabled-color);
  --checkbox-border-color-hover: var(--primary-color-light);
  --checkbox-checked-background-color: var(--primary-color);
  --checkbox-checked-color: var(--secondary-color);
  --checkbox-padding: 6px;
  --checkbox-border-radius: 4px;
  --checkbox-width: 24px;
  --checkbox-height: 24px;

  --label-color: var(--primary-color);
  --label-font-size: var(--base-font-size);
  --label-font-family: var(--base-font-family);

  --tag-height: 32px;
  --tag-border-radius: 16px;
  --tag-padding: 0 16px;

  --text-input-border-color: var(--default-color);
  --text-input-border-color-hover: var(--primary-color-light);
  --text-input-border-color-focus: var(--primary-color);
  --text-input-color: var(--text-default-color);
  --text-input-placeholder-color: var(--text-disabled-color);
  --text-input-disabled-color: var(--disabled-color-light);
  --text-input-text-disabled-color: var(--disabled-color-dark);
  --text-input-prefix-color: var(--default-color-dark);
  --text-input-font-size: var(--base-font-size);
  --text-input-background-color: var(--neutral-white);

  --text-input-height: 48px;
  --text-input-border-radius: 6px;
  --text-input-border-size: 1px;
  --text-input-padding: 0 16px;
  --text-input-font-weight: var(--base-font-weight);

  --textarea-padding: 16px;

  --list-border-radius: 8px;
  --list-item-min-height: 24px;

  --box-shadow-10: 0 2px 4px 0 var(--neutral-1000-opacity-15);
  --box-shadow-50: 0 4px 8px 0 var(--neutral-1000-opacity-15);
  --box-shadow-100: 0 8px 16px 0 var(--neutral-1000-opacity-15);
  --box-shadow-300: 0 16px 24px 0 var(--neutral-1000-opacity-15);
  --box-shadow-500: 0 48px 56px 0 var(--neutral-1000-opacity-15);

  --input-label-distance: 16px;

  --radio-button-border-color: var(--default-color);
  --radio-button-hover-color: var(--primary-color-light);
  --radio-button-checked-color: var(--primary-color);
  --radio-button-background-color: var(--secondary-color);
  --radio-button-color: var(--primary-color);
  --radio-button-disabled-text-color: var(--text-disabled-color);
  --radio-button-disabled-color: var(--default-color);
  --radio-button-font-size: var(--base-font-size);
  --radio-button-height: 24px;
  --radio-button-width: 24px;
  --radio-button-white-background-width: 3px;
  --radio-button-border-radius: 12px;
  --radio-button-border-height: 2px;
  --radio-button-label-distance: var(--input-label-distance);
  --radio-button-font-weight: var(--base-font-weight);

  --toggle-button-border-color: var(--default-color);
  --toggle-button-hover-color: var(--primary-color-light);
  --toggle-button-checked-color: var(--primary-color);
  --toggle-button-background-color: var(--neutral-200);
  --toggle-button-color: var(--primary-color);
  --toggle-button-disabled-color: var(--default-color);
  --toggle-button-font-size: var(--base-font-size);
  --toggle-button-height: 24px;
  --toggle-button-width: 40px;

  --toggle-button-border-radius: 12px;
  --toggle-button-toggle-height: 16px;
  --toggle-button-toggle-width: 16px;
  --toggle-button-toggle-border-radius: 12px;

  --toggle-button-toggle-translateX: 16px;
  --toggle-button-toggle-left: 4px;
  --toggle-button-toggle-top: 4px;
  --toggle-button-transition: .4s;
  --toggle-button-label-distance: var(--input-label-distance);
  --toggle-button-font-weight: var(--base-font-weight);

  --tooltip-border-color: var(--neutral-100);

  --popup-overlay-background: var(--neutral-1000-opacity-50);

  --dialog-body-background: var(--neutral-white);
  --dialog-title-color: var(--primary-color);
  --dialog-actions-background: var(--disabled-color);

  --notification-border-default-color: var(--neutral-100);
  --notification-information-color: var(--primary-color);
  --notification-success-color: var(--green-300);
  --notification-warning-color: var(--yellow-300);
  --notification-error-color: var(--error-color);
  --notification-title-color: var(--neutral-200);
  --notification-default-text-color: var(--neutral-900);
  --notification-light-text-color: var(--neutral-white);
  --notification-information-light-background: var(--violet-50);
  --notification-success-light-background: var(--green-50);
  --notification-error-light-background: var(--red-50);
  --notification-warning-light-background: var(--yellow-50);

  --button-disabled-color: var(--default-color);
  --button-height: 48px;
  --button-border-radius: 24px;
  --button-padding: 0 24px;
  --button-circle-padding: 0 12px;

  --button-primary-background-color: var(--primary-color);
  --button-primary-background-color-hover: var(--primary-color-dark);
  --button-primary-border-color: var(--primary-color);
  --button-primary-border-color-hover: var(--primary-color-dark);
  --button-primary-text-color: var(--text-secondary-color);
  --button-primary-text-color-hover: var(--text-secondary-color);

  --button-secondary-background-color: var(--secondary-color);
  --button-secondary-background-color-hover: var(--secondary-color);
  --button-secondary-border-color: var(--primary-color);
  --button-secondary-border-color-hover: var(--primary-color-dark);
  --button-secondary-text-color: var(--text-primary-color);
  --button-secondary-text-color-hover: var(--primary-color-dark);

  --button-neutral-background-color: var(--default-color);
  --button-neutral-background-color-hover: var(--default-color-dark);
  --button-neutral-border-color: var(--default-color);
  --button-neutral-border-color-hover: var(--default-color-dark);
  --button-neutral-text-color: var(--text-primary-color);
  --button-neutral-text-color-hover: var(--text-secondary-color);

  --date-picker-border-color: var(--default-color);
  --date-picker-weekday-color: var(--neutral-500);
  --date-picker-outside-day-color: var(--neutral-200);
  --date-picker-day-color: var(--neutral-900);
  --date-picker-month-color: var(--primary-color);
  --date-picker-selected-month-color: var(--neutral-white);
  --date-picker-border-radius: 5px;

  --slider-animation-duration: 0.1s;
  --slider-background-color: var(--default-color);
  --slider-line-color: var(--primary-color);
  --slider-height: 4px;
  --slider-width: 100%;
  --slider-margin: 0 8px;
  --slider-border-radius: 4px;
  --slider-line-height: 4px;
  --slider-line-border-radius: 4px;
  --slider-line-animation-duration: var(--slider-animation-duration);
  --slider-control-border: 0 0 2px var(--neutral-1000-opacity-30);
  --slider-control-color: var(--primary-color);
  --slider-control-size: 16px;
  --slider-control-top: 4px;

  --grid-container-max-size: 1200px;
  --grid-container-padding: 8px;
  --grid-container-small-padding: 8px;
  --grid-container-medium-padding: 8px;
  --grid-container-large-padding: 12px;
  --grid-container-xlarge-padding: 12px;

  --grid-column-padding: 8px;
  --grid-column-small-padding: 8px;
  --grid-column-medium-padding: 8px;
  --grid-column-large-padding: 12px;
  --grid-column-xlarge-padding: 12px;

  --font-family: Roboto, sans-serif;
  --font-size: 14px;
  --font-size-large: 16px;
  --font-size-scale-1: 3.052rem;
  --font-size-scale-2: 2.441rem;
  --font-size-scale-3: 1.953rem;
  --font-size-scale-4: 1.563rem;
  --font-size-scale-5: 1.25rem;
  --font-size-scale-6: 1rem;
  --font-size-scale-7: 0.8rem;

  --line-height: 1.5em;
  --line-height-scale-1: var(--line-height);
  --line-height-scale-2: var(--line-height);
  --line-height-scale-3: var(--line-height);
  --line-height-scale-4: var(--line-height);
  --line-height-scale-5: var(--line-height);
  --line-height-scale-6: var(--line-height);
  --line-height-scale-7: var(--line-height);

  --table-background-color: var(--neutral-white);
  --table-header-column-color: var(--neutral-500);
  --table-column-color: var(--neutral-900);
  --table-row-odd-background-color: var(--neutral-75);
  --table-row-hover-color: var(--violet-50);
  --table-row-expanded-icon-background-color: var(--red-100);
  --table-row-icon-background-color: var(--primary-color);
  --table-row-icon-color: var(--neutral-white);
}
