.label {
  @mixin font-scale-6;
  font-family: var(--label-font-family);
  color: var(--label-color);
  display: flex;

  cursor: pointer;
}

.labelText {
  margin: var(--label-text-margin);
}

.error {
  color: var(--error-color);
}

.col {
  flex-flow: row nowrap;
  align-items: center;
}

.row {
  flex-flow: column nowrap;
}

.disabled,
.disabled:hover {
  color: var(--text-disabled-color);
}

.success {
  color: var(--success-color);
}
