.label {
  color: var(--label-color);
  font-family: var(--label-font-family);
  font-size: var(--label-font-size);
  display: flex;

  cursor: pointer;
}

.labelText {
  margin-bottom: 8px;
}

.error {
  color: var(--error-color);
}

.col {
  flex-flow: row nowrap;
  align-items: center;
}

.row {
  flex-flow: column nowrap;
}

.disabled,
.disabled:hover {
  color: var(--text-disabled-color);
}

.success {
  color: var(--success-color);
}
