.wrapper {
    width: 100%;
    position: relative;
}

.list {
    background-color: var(--neutral-white);
    position: absolute;
    z-index: 1;
    width: 100%;
}

.listItem {
    &:hover {
        background-color: var(--neutral-75);
    }
}

.emptyState {
    @mixin font-scale-7;
    padding: 16px;
    display: block;
    color: var(--neutral-500);
}
