.wrapper {
    width: 100%;
    position: relative;
}

.list {
    background-color: var(--neutral-white);
    position: absolute;
    z-index: 1;
    width: 100%;
}

.listItem {
    &:hover {
        background-color: var(--neutral-75);
    }
}
