.list {
  box-shadow: var(--list-box-shadow);
  border: solid 1px var(--neutral-75);
  background-color: var(--list-background-color);
  border-radius: var(--list-border-radius);
  margin: var(--list-margin);
  overflow: hidden;

  & > * {
    &:first-child {
      border-top-left-radius: var(--list-border-radius);
      border-top-right-radius: var(--list-border-radius);
    }

    &:last-child {
      border-bottom-left-radius: var(--list-border-radius);
      border-bottom-right-radius: var(--list-border-radius);
    }
  }
}

.maxHeight {
  overflow-y: auto;
  overflow-x: hidden;
  width: var(--list-max-height-width);
}

