.list {
  box-shadow: var(--box-shadow-100);
  border: solid 1px var(--neutral-75);
  background-color: var(--color-netural);
  border-radius: var(--list-border-radius);
  margin-top: 8px;
}

.list > *:first-child {
  border-top-left-radius: calc(var(--list-border-radius) - 3px);
  border-top-right-radius: calc(var(--list-border-radius) - 3px);
}

.list > *:last-child {
  border-bottom-left-radius: calc(var(--list-border-radius) - 3px);
  border-bottom-right-radius: calc(var(--list-border-radius) - 3px);
}