
.navbar {
  display: flex;
  justify-content: space-between;
}

.navbarIcon {
  color: var(--primary-color);
  text-align: center;
  position: absolute;
  padding: var(--date-picker-navbar-icon-padding);
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: var(--date-picker-navbar-icon-border-radius);
}

.navbarIcon:hover {
  border: 1px solid var(--primary-color-light);
}

.navbarIcon.left {
  left: var(--date-picker-navbar-icon-left);
}

.navbarIcon.right {
  right: var(--date-picker-navbar-icon-right);
}
